<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
</head>
<body>
<header style="min-height: 56px;">
  <header-app></header-app>
</header>
<p></p>
<main class="container mt-7">
  <div class='main-content'>
    <img src="/asset/otter.jpg" class="rounded-circle mb-3 bottom-shadow" style='width: 200px;height: 200px;
    display: block;
    margin-inline: auto;' alt="profile">
    <h1 class="text-center">M. Wildan Iskandar</h1>
    <p class="text-center mb-5">Currently : Android Developer, Trying to be : Full-Stack Developer :)</p>
    <h1 class="text-center mt-5">My Portfolios</h1>
    <div id="my-portfolios" class="row row-cols-3 gy-3 mt-3"></div>
  </div>
</main>
<p></p>
<footer class="text-center">
  <footer-app></footer-app>
</footer>
</body>
</html>
