<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
</head>
<body>
<header style='min-height: 56px;'>
  <header-app></header-app>
</header>
<p></p>
<main>
  <div class='main-content container px-5'>
    <form class='row gx-5' id='addStoryForm' novalidate>
      <h6 class='mb-3'>Tell a story that you think is very impressive!</h6>
      <text-area-custom
        textAreaLabel='Type it Here'
        textAreaID='yourStory'
        invalidMsg='Please Type Your Story First'
        required
      ></text-area-custom>
      <h6 class='mb-3 mt-5'>Then, Add picture to make your story more colorful!</h6>
      <image-input
        inputID='story-image'
        invalidMsg='Please Add Your Image Story First'
        required
      ></image-input>
      <dotlottie-player
        id='loading-player'
        class='mx-auto d-none'
        autoplay
        loop
        mode="normal"
        src="/asset/loading.json"
        style="width: 240px"
      >
      </dotlottie-player>
      <button-custom
        buttonID='addBtn'
        buttonLabel='Submit Your Story'
      ></button-custom>
    </form>
    <!-- Modal -->
    <div class='modal fade' id='myModal' data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1'
         aria-labelledby='staticBackdropLabel' aria-hidden='true'>
      <div class='modal-dialog modal-dialog-centered modal-sm'>
        <div class='modal-content text-center'>
          <div class='modal-header'>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>
          <div class='modal-body row row-cols-1 justify-content-center' id='dialog-body'>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<p></p>
<footer class='text-center'>
  <footer-app></footer-app>
</footer>
</body>
</html>
