<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header style="min-height: 56px;">
      <header-app></header-app>
    </header>
    <p></p>
    <main class="container mt-7">
      <div id="app-stories" class="row row-card gy-3"></div>
      <fab-button
        url="/add-story.html"
      ></fab-button>
      <div class='modal fade' id='myModal' data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1'
           aria-labelledby='staticBackdropLabel' aria-hidden='true'>
        <div class='modal-dialog modal-dialog-centered modal-sm'>
          <div class='modal-content text-center'>
            <div class='modal-header'>
              <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body row row-cols-1 justify-content-center' id='dialog-body'>
            </div>
          </div>
        </div>
      </div>
    </main>
    <p></p>
    <footer class="text-center">
      <footer-app></footer-app>
    </footer>
  </body>
</html>
