<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
</head>
<body>
<header style="min-height: 56px;">
  <header-app></header-app>
</header>
<p></p>
<main class='min-vh-100 d-flex'>
  <div class='m-auto container py-5'>
    <div class='row justify-content-center'>
      <div class='card bottom-shadow col-12 col-md-6 col-lg-4'>
        <h1 class='text-center pt-3'>Welcome Back!</h1>
        <h6 class='text-center pb-3'>Please login to continue</h6>
        <form id='loginForm' novalidate>
          <div class='mb-3'>
            <input-custom
              inputID='email'
              type='email'
              inputLabel='Email'
              invalidMsg='Please input Your Email'
              required
            ></input-custom>
          </div>

          <div class='mb-3'>
            <input-custom
              inputID='password'
              type='password'
              inputLabel='Password'
              invalidMsg='Please input Your Password'
              required
            ></input-custom>
          </div>
          <div class='col-12'>
            <dotlottie-player
              id='loading-player'
              class='mx-auto d-none'
              autoplay
              loop
              mode="normal"
              src="/asset/loading.json"
              style="width: 140px"
            >
            </dotlottie-player>
            <button class='btn btn-primary text-white' id='submit-btn' type='submit'>Login</button>
          </div>
        </form>
        <div class='m-4 text-center'>
          Don't have an account yet? <a href='/auth/register.html'>Register Here</a>
        </div>
      </div>
    </div>
  </div>
  <div class='mt-3'>
    <div class='modal fade' id='myModal' data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1'
         aria-labelledby='staticBackdropLabel' aria-hidden='true'>
      <div class='modal-dialog modal-dialog-centered modal-sm'>
        <div class='modal-content text-center'>
          <div class='modal-header'>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>
          <div class='modal-body row row-cols-1 justify-content-center' id='dialog-body'>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<p></p>
<footer class='text-center'>
  <footer-app></footer-app>
</footer>
</body>
</html>
